@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.body{
background-color: #FFFFFF;
font-family: "Be Vietnam Pro", sans-serif;
}
/* Navbar */
.navbar {
    font-family: "Be Vietnam Pro", sans-serif;
  font-weight: 300;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #fff;
    border-bottom: 0.7PX solid #00684A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 80px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
   
    padding-top: 10PX;
    
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    padding-bottom: 3PX;
    
    
}
.nav-links a:hover{
    text-decoration: underline #00684A ;
    font-weight: 600;
    color: #00684A;
    
}
.auth-buttons {
    display: flex;
    gap: 1rem;

}

.login-btn, .register-btn {
    padding: 0.5rem 1rem;
    border: 0.7px solid #000000;
    cursor: pointer;
    width: 6vw;
    border-radius: 25px;
}

.login-btn {
    background-color: #00ff87;
   
    color: #000000;
}

.register-btn {
    background-color: #FFFFFF;
    color: #000000;
}
.btns:hover{
    font-weight: 500;
    background-color: #000000;
    color: #FFFFFF;
    /* transition-duration: 2s; */
    transition-duration: 500ms;
}
.btns:active{
    transform: scale(1.1);
}


/* main section */
.main_page{
   
    padding: 77px;
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 80px);
    width: 100%;
    
}
.m_right
{
   
    width: 50%;
   
    
    text-align: left;
    
}
.m_right h1{
    font-weight: 600;
    font-size: 70px;
    line-height: 90px;
}
#m_name{
    color: #00ff87;
    font-size: 90px;
}
.para{
    width: 60%;
}
.m_left{
    background-image: url('../assets/Brief.svg');
    background-size:contain;
    background-repeat: no-repeat;
height: 100%;

width: 40%;
padding: 20px;
}




